body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(137, 136, 136);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  letter-spacing: -2px;
  font-size: 3.5em;
}

.istockslink {
  color: white;
  text-transform: none;
}

.nav {
  display: flex;
  background-color: black;
  font-size: 2em;
  height: 3em;
}

.nav a{
display: block;
color: white;
text-decoration: none;
padding-left: 20px;
padding-right: 20px;
margin-right: 1em;
margin-left: 0.5em;
transition: 0.3s;
margin-top: auto;
margin-bottom: auto;
padding: 10px;
}

.nav a:hover {
  color: gray;
}

.activestocks{
  display: block;
  background-color: rgb(148, 148, 148);
  padding: 10px;
  text-decoration: none;
  margin: 10px;
  color: white;
  width: 30%;
  margin: auto;
  transition: 0.3s;
  letter-spacing: -1px;
}

.activestocks:hover {
  color: rgb(94, 94, 94);
  background-color: rgb(179, 178, 178);
}